.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  width: 100%;
}

.cover__content {
  background-image: url("../assets/footer-img.png");
  background-size: cover;
  width: 100%;
}

.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 46px 0 45px;
}

.cover__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
.cover__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

.cover__info p {
  margin: 0;
}

.cover__button {
  background: #0278fe;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  padding: 13px 20px;
  border-radius: 4px;
  gap: 10px;
  border: none;
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    padding: 246px 56px;
    gap: 32px;
  }

  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }

  .cover__info {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0;
  }

  .cover__button {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__content {
    max-width: 1184px;
  }

  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
  }

  .cover__button:hover {
    background: #0063d2;
  }
}
